# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.SimpleCryptoBlockchain.iml
# Datasource local storage ignored files
/../../../../../../:\ProjektyC#\SimpleCryptoBlockchain\.idea\.idea.SimpleCryptoBlockchain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
